@import "asciidoctor.css";

h1 {
    font-size: 46px;
}

.h2, h2 {
    font-size: 38px;
}

.h3, h3 {
    font-size: 33px;
}

.h4, h4 {
    font-size: 24px;
    font-weight: bold;
}


#toctitle, .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 25px;
    margin-bottom: 12px;
}
#toctitle, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
}
h1 {
    margin: .67em 0;
}

a {
    background-color: transparent;
    color: #782b90;
    text-decoration: none;
}

p {
    margin: 0 0 12px;
    font-size: 1.5em;
}

.toc li {
    font-size: inherit;
}

.sect1 li, .sect2 li, .sect3 li {
    font-size: 1.5em;
}

li p {
    font-size: 1em;
}


code {
    color: #c7254e;
    background-color: #f9f2f4;
}

ul, ol {
    margin-left: 3.5em;
}

*:not(pre) > code {
    font-size: .8em;
}

pre code {
    background-color: #f7f7f8;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.quoteblock blockquote:before {
    color: #782b90;
}

sup.footnote {
    vertical-align: baseline;
}

.assignment::before {
    content: "Spoiler Alert! You can decide whether or not you want to write this code by yourself or read it first.";
    font-weight: bold;
    font-size: larger;
    height: 35px;
    display: block;
    color: #782b90;
}
